*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loader{
    position: relative;
    height: 100px;
    margin-top: 1rem;
    width: 100px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    border-top: 6px solid red;
    animation: loader 2s ease-in-out infinite;
    left: 700px;
}
@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}